USE [master]
GO
/****** Object:  Database [Personal]    Script Date: 8/6/2022 12:40:00 AM ******/
CREATE DATABASE [Personal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Personal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Personal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Personal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Personal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Personal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Personal]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 8/6/2022 12:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[PersonalNumber] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[EntryTime] [datetime] NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[WageRate] [decimal](18, 2) NOT NULL,
	[TotalWorkingTimeinMonth] [int] NOT NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[PersonalNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkTime]    Script Date: 8/6/2022 12:40:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTime](
	[PersonalNumber] [int] NOT NULL,
	[Date] [int] NOT NULL,
	[EntryHour] [int] NOT NULL,
	[EntryMinute] [int] NOT NULL,
	[Exithour] [int] NOT NULL,
	[ExitMinute] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WorkTime]  WITH CHECK ADD  CONSTRAINT [FK_WorkTime_Personal] FOREIGN KEY([PersonalNumber])
REFERENCES [dbo].[Personal] ([PersonalNumber])
GO
ALTER TABLE [dbo].[WorkTime] CHECK CONSTRAINT [FK_WorkTime_Personal]
GO
USE [master]
GO
